body,div,input {
	font-family: 'Open Sans', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	text-align: center;
}

.chart {
	height: 160px;
	width: 500px;
	margin: 5px;
	margin: 5px auto;
	border: 3px solid #DDD;
	border-radius: 3px;
}

.node {
	color: #2C3E50;
	border: 2px solid #C8C8C8;
	border-radius: 3px;
}

.node p {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Sans-serif;
	font-size: 26px;
	line-height: 20px;
	font-weight: bold;
	padding: 3px;
	margin: 0;
	min-height: 25px;
	min-width: 25px;
}

#navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 5%;
	background: #34495E;
	margin: 0 0 20px 0;
}

#logo {
	font-size: 2.5vh;
	margin: auto 0 auto 20px;
	font-weight: 700;
	color: #D5DBDB;
}

#description {
	font-size: 2vh;
	font-weight: 600;
	color: #D5DBDB;
	margin: auto 0 auto 0;
}

#navbar_icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 100px;
	width: 5%;
}

.navbar_icon {
	margin-right: 20px;
}

#navbar_img {
	height: 80%;
	padding: auto;
	margin: auto;
}

#parent_wrapper {
	display: flex;
	flex-flow: row nowrap;
	height: 85%;
}

#wrapper_0, #wrapper_1 {
	display: flex;
	flex-flow: column;
	width: 45%;
	margin: 10px auto 0 auto;
	text-align: center;
	/* border: 1px solid black; */
	/* border-radius: 5px; */
}

#input_panel_0, #input_panel_1 {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#input_latex_0, #input_latex_1 {
	width: 70%;
	height: 35px;
	border: 2px solid #2C3E50;
	border-radius: 5px;
	margin: 0 5px 0 auto;
	text-align: center;
	font-size: 24px;
	color: #2C3E50;
	font-weight: bold;
}

#input_test_index_0, #input_test_index_1 {
	width: 10%;
	height: 35px;
	margin: 0 5px 0 auto;
	text-align: center;
	border: 2px solid #2C3E50;
	border-radius: 5px;
	font-size: 24px;
	color: #2C3E50;
	font-weight: bold;
}
#input_test_index_0::-webkit-inner-spin-button, #input_test_index_0::-webkit-outer-spin-button, #input_test_index_1::-webkit-inner-spin-button, #input_test_index_1::-webkit-outer-spin-button {
	opacity: 1;
}

#parsing_mode_0, #parsing_mode_1 {
	display: flex;
	/* flex-grow: 1; */
	/* display: inline-block; */
	/* min-width: 20%; */
	/* max-width: 100%; */
	height: 35px;
	margin: 0;
	border: 2px solid #2C3E50;
	border-radius: 5px;
	font-size: 24px;
	color: #2C3E50;
	font-weight: bold;
}

#compiled_latex_0, #compiled_latex_1 {
	display: flex;
    align-items: center;
	/* vertical-align: middle; */
	justify-content: center;
	width: 99%;
	min-height: 17%;
	max-height: 20%;
	border: 2px solid #2C3E50;
	border-radius: 5px;
	margin: 10px auto 0 auto;
	padding: 0;
	font-size: 24px;
	color: #2C3E50;
}

#text_0, #text_1 {
	display: flex;
    align-items: center;
	/* vertical-align: middle; */
	justify-content: center;
	width: 99%;
	min-height: 6%;
	border: 2px solid #2C3E50;
	border-radius: 5px;
	margin: 10px auto 0 auto;
	padding: 0;
	font-size: 20px;
	color: #2C3E50;
}

mjx-container {
	margin: 0 !important;
}

#LaTex_AST_0, #LaTex_AST_1 {
	height: 80%;
	margin: 20px 0 0 0;
	padding: 0 auto 0 auto;
	vertical-align: top;
}